# MongoDB Atlas connection string
# Format: mongodb+srv://<user>:<password>@<cluster>.mongodb.net/
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?appName=GameOfLife&retryWrites=true&w=majority

# Database name
MONGODB_DB=biotope_db
